.home-img {
    height: 80%;
    width: 70%;
    justify-content: top;

}

.home p{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(136, 0, 199, 1);
    justify-content: left;
    margin-left: 10%;
    margin-top: 10%;
}

.home {
    display: flex;
    flex-direction: row;
}