.home-img {
    height: 40%;
    width: 850px;
    
}

.home p{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(136, 0, 199, 1);
    justify-content: left;
    margin-left: 10%;
    margin-top: 10%;
}

.home {
    display: flex;
    flex-direction: row;
}